In [38]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup as BS
from webdriver_manager.chrome import ChromeDriverManager
import pandas as PD

In [33]:
# Set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless = False)

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [C:\Users\rls13\.wdm\drivers\chromedriver\win32\92.0.4515.107\chromedriver.exe] found in cache

**NASA Mars News**

In [27]:
url = 'https://redplanetscience.com/'
browser.visit(url)

In [28]:
# HTML Object
html = browser.html

# Parse thru the HTML with Beautiful Soup
soup = BS(html, 'html.parser')

# Retrieve the latest news title
News_Title = soup.find_all('div', class_ = 'content_title')
Latest_News_Title = News_Title[0].text

# Retrieve the paragraph for the latest news title
Paragraph = soup.find_all('div', class_ = 'article_teaser_body')
Latest_Paragraph = Paragraph[0].text

# Print results
print(Latest_News_Title)
print(Latest_Paragraph)

The MarCO Mission Comes to an End
The pair of briefcase-sized satellites made history when they sailed past Mars in 2019.

**JPL Mars Space Images - Featured Image**

In [34]:
url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [35]:
# Use Splinter to find the image URL for the current Featured Mars Image
Full_Image_Button = browser.links.find_by_partial_text('FULL IMAGE').click()

# HTML Object
html = browser.html

# Parse thru the HTML with Beautiful Soup
soup = BS(html, 'html.parser')

# Retrieve the Full Size jpg Image URL
image = soup.find('img', class_ = "fancybox-image")
Featured_Image_Src = (image['src'])
Featured_Image_URL = url + Featured_Image_Src

#Print Results
print(Featured_Image_URL)

https://spaceimages-mars.com/image/featured/mars2.jpg

**Mars Facts**

In [48]:
url = 'https://galaxyfacts-mars.com/'

# Use PANDAS to scrape the Mars table on the above site
tables = PD.read_html(url)[1]
tables

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [49]:
# Clean up DF and set index
Mars_Data = tables
Mars_Data.columns = ['Description', 'Value']
Mars_Data.set_index('Description', inplace = True)
Mars_Data

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                        2 ( Phobos & Deimos )
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [58]:
# Convert data to HTML table string and save to HTML file
Mars_HTML_Data = Mars_Data.to_html()
Mars_HTML_Data.replace('\n', '')
Mars_HTML_Data = Mars_Data.to_html('Mars_HTML_Data.html')

**Mars Hemispheres**