In [1]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup as BS
from webdriver_manager.chrome import ChromeDriverManager
import pandas as PD

In [2]:
# Set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless = False)

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [C:\Users\rls13\.wdm\drivers\chromedriver\win32\92.0.4515.107\chromedriver.exe] found in cache

**NASA Mars News**

In [3]:
url = 'https://redplanetscience.com/'
browser.visit(url)

In [4]:
# HTML Object
html = browser.html

# Parse thru the HTML with Beautiful Soup
soup = BS(html, 'html.parser')

# Retrieve the latest news title
News_Title = soup.find_all('div', class_ = 'content_title')
Latest_News_Title = News_Title[0].text

# Retrieve the paragraph for the latest news title
Paragraph = soup.find_all('div', class_ = 'article_teaser_body')
Latest_Paragraph = Paragraph[0].text

# Print results
print(Latest_News_Title)
print(Latest_Paragraph)

NASA's Curiosity Keeps Rolling As Team Operates Rover From Home
The team has learned to meet new challenges as they work remotely on the Mars mission.

**JPL Mars Space Images - Featured Image**

In [5]:
url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [6]:
# Use Splinter to find the image URL for the current Featured Mars Image
Full_Image_Button = browser.links.find_by_partial_text('FULL IMAGE').click()

# HTML Object
html = browser.html

# Parse thru the HTML with Beautiful Soup
soup = BS(html, 'html.parser')

# Retrieve the Full Size jpg Image URL
image = soup.find('img', class_ = "fancybox-image")
Featured_Image_Src = (image['src'])
Featured_Image_URL = url + Featured_Image_Src

#Print Results
print(Featured_Image_URL)

https://spaceimages-mars.com/image/featured/mars1.jpg

**Mars Facts**

In [7]:
url = 'https://galaxyfacts-mars.com/'

# Use PANDAS to scrape the Mars table on the above site
tables = PD.read_html(url)[0]
tables

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [8]:
# Clean up DF and set index
Mars_Data = tables
Mars_Data.columns = ['Description', 'Mars', 'Earth']
Mars_Data.set_index('Description', inplace = True)
Mars_Data

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [9]:
# Convert data to HTML table string and save to HTML file
Mars_HTML_Data = Mars_Data.to_html()
Mars_HTML_Data.replace('\n', '')
Mars_HTML_Data = Mars_Data.to_html('Mars_HTML_Data.html')

**Mars Hemispheres**

In [10]:
url = 'https://marshemispheres.com/'
browser.visit(url)

In [11]:
hemisphere_image_urls = []

# Identify list
Hem_Images = browser.links.find_by_partial_text('Hemisphere')
for item in range (len(Hem_Images)):
    Hemisphere_Image = {}
    
    # Access each Hemisphere link
    browser.links.find_by_partial_text('Hemisphere').click()

    # HTML Object
    html = browser.html

    # Parse thru the HTML with Beautiful Soup
    soup = BS(html, 'html.parser')

    # Retrieve the Full Size jpg Image URL
    Image = soup.find('img', class_ = 'wide-image')
    Hemisphere_Image['img_url'] = url + Image['src']

    # Retrieve Title for Image
    Title = soup.find('h2', class_ = 'title').text
    Hemisphere_Image['title'] = Title

    # Append Data
    hemisphere_image_urls.append(Hemisphere_Image)
    
    # Navigate back to main window
    browser.links.find_by_partial_text('Back').click()

# See list of data
hemisphere_image_urls

[{'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'}]

In [12]:
#Close the browser
browser.quit()